.main{
    &__product{
        @media(max-width:991px){
            align-items: center;
            margin: 0;
        }
        &-title{
            @media(max-width:720px){
                font-size: 16px;
            }
        }
        &-descr{
            
            @media(max-width:720px){
                font-size: 14px;
            }
        }
        &-img{
            width: 100%;
        }
        &-text{
            display: flex;
            align-items: center;
        }
    }
}