.main{
    &__product{
        @media(max-width:991px){
            align-items: center;
            margin: 0;
        }
        &-title,
        &-about{
            font-size: 20px;
            @media(max-width:720px){
                font-size: 16px;
                padding: 0px 15px;
            }
        }
        &-descr{
            font-size: 15px;
            @media(max-width:720px){
                font-size: 14px;
                padding: 0px 15px;
            }
        }
        &-about{
            color: #00ffd9;
        }
        &-img{
            max-width: 380px;
            width: 100%;
            max-height: 215px;
            height: 100%;
            border-radius: 16px 16px 0px 0px;
        }
        &-text{
            display: flex;
            align-items: center;
        }
    }
}