$white: #ECF1F0;
$green:#0FAE96;
$greenActive:#027463;
$black:#11011E;
$forBg: rgba(255, 255, 255, 0.1);
$white-2:#D4D4D4;

.inscr{
    color: $white;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;

}
.title{
    font-size: 34px;
    line-height: 41px;
    color: $white;
    font-family: 'Inter';
    font-weight: 500;
}
.text{
    font-size: 24px;
    line-height: 29px;
    font-family: 'Inter';
    font-weight: 300;
    color: $white;
}
.micro-text{
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter';
    font-weight: 300;
    color: $white;
}
.btn{
    font-size: 17px;
    line-height: 21px;
    width: 170px;
    height: 48px;
    color: white;
    background: $green;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pages{
    &__style{
        padding: 100px 0 65px 0;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        &-top{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 32px;
            &-text{
                max-width: 610px;
                width: 100%;
            }
            &-categories{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 44px;
                padding: 10px 0;
            }
            &-category{
                padding: 15px 28px;
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(255, 255, 255, 0.05);
                border-radius: 4px;
                cursor: pointer;
                &.choosed{
                    color: $black;
                    background: $white;
                }
            }
        }
        &-box{
            width: 1300px;
            // min-width: 600px;
            // width: 100%;
            height: 840px;
            margin: 0 auto;
            padding: 0 auto;
            position: relative;
            overflow: hidden;
            // border: 1px solid rgba(255, 255, 255, 0.199);
            @media(max-width:1399px){
                width: 1150px;
                // height: 790px;
            }
            @media(max-width:1299px){
                width: 1000px;
            }
            @media(max-width:992px){
                width: 900px;
                height: 820px;
            }
            @media(max-width:767px){
                width: 700px;
            }
            @media(max-width:720px){
                width: 600px;
                height: 600px;
                // height: 920px;
            }
            @media(max-width:420px){
                width: 600px;
            }
        }
        &-items{
            width: 100%;
            position: absolute;
            top: 0%;
            left: 0px;
            display: grid;
            gap: 32px;
            // transform: translateX(30%);
            grid-template-columns: repeat(3,1fr);
            transition-duration: 1500ms;
            @media(max-width:991px){
                grid-template-columns: repeat(2,1fr);
                gap: 18px;
            }
            // @media(max-width:720px){
            //     grid-template-columns: repeat(1,1fr);
            //     gap: 18px;
            // }
        }
        &-item{
            max-width: 410px;
            width: 100%;
            height: 400px;
            padding: 12px;
            display: flex;
            flex-direction: column;
            
            position: relative;
            gap: 12px;
            background: rgba(255, 255, 255, 0.02);
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 16px;
            @media(max-width:720px){
                height: 290px;
                padding: 0px;
                overflow: hidden;
                gap: 10px;
            }
        }
        &-sliderbox{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 32px;
            @media(max-width:1199px){
                flex-direction: column;
                align-items: center;
            }
        }
        &-slide{
            background: rgba(255, 255, 255, 0.03);
            border: 1px solid rgba(255, 255, 255, 0.05);
            border-radius: 8px;
            padding: 6px;
            @media(max-width:1199px){
                display: flex;
            }
        }
        &-nums {
            font-size: 18px;
            line-height: 185%;
            padding: 8px 19px;
            font-family: 'Inter';
            color: $white;
        }
        &-nums.active{
            background: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
        }
        &-bottom{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}



$fonts : ('Bold',700),
        ('Medium',500),
        ('Regular',300),
        ('SemiBoldItalic',700);

@each $name, $weight in $fonts {
    @font-face {
        font-family: 'Inter';
        src: url(../fonts/Inter-#{$name}.otf);
        font-weight: $weight;
    }
} 